.meniu{
    padding: 10px 2%;

}
.meniu a{
    width:  11%;
    display: inline-block;
    text-align: center;
}
.foto{
    float: left;
    margin: 10px;
    border: solid;
}
.turinys{
    display: inline-block;
}
h1{
    font-size: 70px;
}
.size{
    font-size: 30px;
}
.right{
    float: right;
    margin: 20px 4%;

}