.meniu {
    padding: 10px 2%;

}
.meniu a {
    width: 12%;
    display: inline-block;
    text-align: center;
    height: 50px;
    border: solid black 1px;
    padding: 30px 0px 0px 0px;
    font-size: 20px;
}

.foto {
    width: 33%;
    float: left;
    margin: 10px;
    border: solid;
}

.turinys {
    display: inline-block;
}

h1 {
    font-size: 100px;
}

.size {
    font-size: 26px;
}

.right {
    float: right;
    margin: 20px 4%;

}

.back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
a:hover{
    background-color: silver;
}
