body{
    margin-top: 100px;
    font-family: 'Trebuchet MS', serif;
    line-height: 1.6
}
.bendras {
    width: 800px;
    margin: 0 auto;
}



ul.tabai{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabai li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabai li.dabartinis{
    background: #ededed;
    color: #222;
}

.tab-turinys{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-turinys.dabartinis{
    display: inherit;
}