.menu{
    padding: 20px 2%;
}
.menu a{
    width: 11%;
    display: inline-block;
    text-align: center;
}
.photo{
    width: 33%;
    float:left;
    border: 2px solid black;
    margin:10px;
}
h1{
    font-size:100px;
}
.turinys{
    font-size:20px
}
footer{
    float:right;
    margin:10px;
}